main
{
  background-color: gainsboro;
}
div > p 
{
  font-family: serif;
  margin: 20px;
  line-height: 50px;
  font-size: 20px;
}
h2
{
  text-align: center;
}
h3
{
  font-size: 20px;
}
.field 
{
  text-align: center;
  margin: auto;
}
.file-field 
{  
  height: 350px;
  width: 250px;
  border: 4px dashed rgb(2, 2, 158);
  margin: auto;
  margin-top: 50px;
  text-align: center;
  box-sizing:border-box;
  background-attachment: none;
}
.text-field 
{
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
.input-text  
{
  width: 700px;
  height: 120px;
  padding: 100px;
  background-color: rgba(40, 30, 220, 0.2);
  box-sizing:border-box;
  border-radius: 4px;
}
.button 
{
  margin: 20px;
  height: 50px;
  width: 150px;
  color: white;
  background-color: rgb(2, 2, 158);
  font-size: 20px;
  font-family: Helvetica;
  border-radius: 10px;
  text-align: center;
  border: none;
  padding: 10px;
  margin-top: 50px;
}

@media screen and (max-width: 1024px) 
{
  body 
  {
    font-size: 20px;
  }
  .file-field 
  {
    height: 200px;
    max-width: 300px;
    border: 3px dashed rgb(2, 2, 158);  
  }  
  button[type=submit]
  {
    margin-left: 10%;
  }
  .input-text 
  {
    width: 300px;
    height: 200px;
    font-size: 20px;
    padding: 40px;
    border-width: 5px;
    border: none;
  }
  .button 
  {
    margin: 50px;
    height: 60px;
    width: 150px;
    font-size: 20px;
  }
}