.option
{
  display: flex;
  background-color: gainsboro;
  flex-direction: row;
  justify-content: space-around;
}
div > p 
{
  font-family: serif;
  margin: 20px;
  line-height: 50px;
  font-size: 20px;
}
.or
{
  text-align: center;
  margin: auto 0;
}
button{
  cursor: pointer;
}
.field 
{
  text-align: center;
  margin: auto;
  height: 100%;
}
.file-field 
{  
  height: 295px;
  width: 250px;
  border: 4px dashed rgb(2, 2, 158);
  margin: 2em;
  margin-left: 7em;
  margin-right: 7em;
  text-align: center;
  box-sizing:border-box;
  background-attachment: none;
}
.text-field 
{
  margin-top: 5em;
  margin-top: 20px;
  text-align: center;
  height: 100%;
}
.input-text  
{
  width: 500px;
  height: 300px;
  padding: 10px;
  background-color: rgba(40, 30, 220, 0.2);
  box-sizing:border-box;
  border-radius: 4px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
}
.button 
{
  margin-top: 2em;
  margin-bottom: 1em;
  height: 50px;
  width: 150px;
  color: white;
  background-color: rgb(2, 2, 158);
  font-size: 20px;
  font-family: Helvetica;
  border-radius: 10px;
  text-align: center;
  border: none;
  padding: 10px;
  margin-top: 50px;
}

@media screen and (max-width: 1024px) 
{
  .option{
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

  }
  body 
  {
    font-size: 20px;
  }
  .file-field 
  {
    height: 200px;
    max-width: 300px;
    border: 3px dashed rgb(2, 2, 158);  
  }  
  /* button[type=submit]
  {
     margin-left: 10%;

  } */
  .field{
    height: 30%;
  }
  .or{
    margin: auto 0;
  }
  .input-text 
  {
    width: 80%;
    height: 150px;
    font-size: 20px;
    padding: 10px;
    border-width: 5px;
    border: none;
  }
  .button 
  {
    margin: 50px;
    height: 60px;
    width: 150px;
    font-size: 20px;
  }
}