*{
    margin: 0;
    padding: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 100px;
    color: #ffffff;
    background-color: #1c37c2;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.footer-h3{
    font-size: 18.72px;
}
.footer-p{
    cursor: pointer;
    font-size: 15.8px;
}
.icons{
    font-size: 220%;
    padding-top: 10px;
}
.fa{
    cursor: pointer;
}

@media screen and (max-width: 700px){
    footer{
        padding: 30px;
        font-size: 10px;
        line-height: 22px;
    }
    .quick-links{width: 100%;} .services{width: 100%;} .follow-us{width: 100%;}
    .quick-links, .services, .follow-us{margin-bottom: 20px;}
}