@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    color: #ffffff;
    background-color: rgb(2, 2, 158);;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.paragraph{
    line-height: 25px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}
button{
    cursor: pointer;
  }
.icons{
    font-size: 220%;
    margin-top: 15px;
}
.fa{
    cursor: pointer;
}
.footer-header{
    text-align: left;
}
@media screen and (max-width: 700px){
    .footer{
        padding: 30px 1em ;
        font-size: 10px;
        text-align: center;
        flex-direction: row;
    }
    .footer-header{
        font-size: 20px;
        text-align: center;
      }
    .ql, .serv, .fflw{
        width: 50%;
    }
    .paragraph{
        line-height: 20px;
        font-size: 15px;
        display: block;
    }
    .ql, .serv, .fflw{margin-bottom: 10px;}
}
