*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    margin: auto;
    margin-bottom: -0.8rem;
    justify-content: space-between;
    padding: 2rem 2rem 0 139px;
}
.heading{
    display: flex;
   
}
.head a{
    margin-left: 3rem;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.head a:hover{
    text-decoration: underline blue;
    color: blue;
}
.logo{
    background-image: url(../img/jambito.png);
    height: 60px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}
button{
    padding: 0.7em;
    width: 7rem;
    margin-top: -12px;
    background-color: rgb(2, 2, 158);
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.container{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
    margin-top: 0;
}
.welcome{
    padding-top: 8rem;
}
#main-text{    
text-align: center;
font-family: 'Poppins', sans-serif;
font-weight: bolder;
font-size: 40px;
margin-bottom: 20px;
color: white;
    
}
#text{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}

#btn{
    text-align: center;
}
@media screen and (max-width:770px){
header{
    padding: 1rem 1rem 0 1rem;
}
.head a{
    margin-left: 10px;
    font-size: 16px;
}
button{
    width: 5rem;
    padding: 0.5rem;
    font-size: 14px;
}
.logo{
    height: 50px;
    width: 50px;
}
.container{
    height: 300px; 
}
.welcome{
    padding-top: 2.5rem;
}
#main-text{    
    font-size: 35px;    
}
#text{ 
    font-size: 25px;
}


}
