.container1{
    display: flex;
    flex-wrap: wrap;
    background-image: url(img/sign.jpg);
}
.signup{
    width: 45%;
    display: flex;
    justify-content: center;
    margin: auto; 
}
h1{
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}
p{
    font-size: 14px;
}
.access{
    margin-bottom: 2rem;
    font-family: 'Quicksand', sans-serif;
}
.account{
    text-align: center;
    margin-right: 4rem;
    margin-bottom: 0rem;
}
button{
    cursor: pointer;
  }
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem 2rem 5rem;
    justify-content: center;
    margin: 2em;
    background-color: #fff;
    border-radius: 1em;
    padding-right: 1rem;
    margin-right: 6em;
margin-left: 3em;
padding-left: 3rem;
margin-top: 1em;
margin-bottom: 3em;

}
.blue{
    width: 100%;
    background-image: url(/img/sign.jpg);
    background-position: center;
}

input{
    width: 85%;
    padding: 0.58rem;
    box-sizing: border-box;
    border: 0.5px solid #000000;
    border-radius: 3px;
    opacity: 20%;
    background-color: rgba(28,55,194,0.2);
}
input::placeholder{
    font-size: 10px;
    color: black;
}
label{
 position: relative;
 top: 15px;
 color: rgb(61, 57, 57);
 font-size: 12px;
}
.check{
    text-align: center;
    font-size: 12px;
    margin-top: 2rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
}
.check input{
    width: auto;
    text-align: center;
    margin: auto;
    opacity: 1;
}
.check label{
    top: -1px;
    margin-left: 2px;
    color: black;

}
.remember{
    display: flex;
    justify-content: space-between;
    margin-top: -1.5rem;
}
.remember a{
    color: black;
    font-size: 12px;
    text-decoration: none;
}
.forgot{
    margin-right: 4rem;
    margin-top: 2rem;
}
.create{
    padding: 0.5rem;
    width: 85%;
    margin-bottom: 1rem;
    margin-top: auto;
    background-color: rgb(2, 2, 158);
    box-sizing: border-box;
    border:  1px solid rgb(2, 2, 158);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.already a, .have a{
    text-decoration: none;
    color: rgb(2, 2, 158);
    cursor: pointer;
}
.already p, .have p{
    color: black;
}
.signup{
    margin-top: 2em;
}
@media screen and (max-width:1200px){
.signup{
    width: 50%;
}
.blue{
    width: 50%;
}
.forgot{
    margin-right: 3rem;
    margin-left: 4em;
    margin-right: 5em;
}
h3
{
    font-size: 20px;
}
p
{
    padding: 5px;
}
.check{
    margin-right: -3rem;
}
.check.check-signup{
    margin-right: 3rem;
}
}
@media screen and (max-width:770px){
.blue{
    display: none;
}
.signup{
    width: 80%;
}
.forgot{
    margin-right: 4rem;
}
.check{
    margin-right: -3rem;
}
.check.check-signup{
    margin-right: 3rem;
}
}

@media screen and (max-width:600px){
.signup{
    width: 100%;
}
.wrapper{
    padding: 4rem 1rem 3rem 4rem;
}

.forgot
{
    margin-right: 3.2rem;
}
}

@media screen and (max-width:400px){
.wrapper{
    padding: 4rem 0.2rem 3rem 3.2rem;
    margin-left: -1rem;
} 
input, .create{
    width: 93%;
}
.forgot{margin-right: 1.6rem;}
.have p,.already p{
    margin-right: 2rem;
}
}

@media screen and (max-width:350px){
.wrapper{
    padding: 4rem 0 3rem 20px;
    margin-left: auto;
} 
input, .create{
    width: 93%;
}
.forgot{
    margin-right: 1.5rem;
}
.already p, .have p{
    margin-right: 1rem;
}
.check{
    margin-right: 0rem;
}
.check.check-signup{
    margin-right: 3rem;
}
}
