body
{
  font-family: 'Roboto', sans-serif;
}
.container
{
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 100%;
  margin-top: 30px;
}
.welcome
{
  padding: 5rem;
  color: white;
}
.container-two 
{
  margin-bottom: 60px;
  background-color: rgba(222, 222, 222, 0.3);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-top: 70px;
  padding: 10px;
  text-align: center;
}
.sub-con1, .sub-con2
{
  background-color: white;
  width: 80%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 30px;
  margin-left: 120px;
  border-bottom: 2px solid gainsboro;
  border-right: 2px solid gainsboro;

}
.container-three 
{
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
div > p 
{
  font-family: serif;
  margin: 20px;
  line-height: 50px;
  font-size: 20px;
}
p
{ 
  font-size: 30px;
}
h1
{    
  font-size: 70px;    
}
h2
{
  margin-top: 20px;
}
h3
{
  font-size: 30px;
  text-align: center;
}
h4
{
  font-size: 35px;
}
h5
{
  font-size: 20px;
  margin-left: 35px;
  margin-top: 60px;
  color: rgb(2, 2, 158);
}
.stars
{
  width: 300px;
  display: inline-block;
  justify-items: left;
  font-size: 20px;
}
input.star{
  display: none;
}
label.star{
  float: right;
  padding: 10px;
  font-size: 36px;
  color: rgb(2, 2, 158);
  transition: all 0.2s;
}
input.star:checked ~ label.star:before{
  content: '\f005';
  color: #fd4;
  transition: all 0.2s;
}
input.star-5:checked ~ label.star:before{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
label.star:before{
  content: '\f006';
  font-family: FontAwesome;   
}
input.star-1:checked ~ label.star:before{
  color: rgb(236, 42, 8);
} 
input.star-2:checked ~ label.star:before{
  color: #f62;
}
input
{
  width: 400px;
  box-sizing: border-box;
  padding: 20px;
  border: 2px solid rgb(2, 2, 158);
  margin-top: 60px;
}
button[type=submit]
{ 
  width: 150px;
  height: 65px;
  font-size: 25px;
  font-family: monospace;
  border: none;
  margin: 30px;
  padding: 15px;
  text-align: center;
  background-color: rgb(2, 2, 158);
  color: white;
  border-radius: 10px;
}
#check-btn
{
  margin-top: 150px;
}
#join-btn
{
  width: 200px;
}
#img 
{
  height: 200px;
  width: 200px;
  margin: 20px;
}
#img1
{
  width: 300px; 
  height: 300px; 
  padding: 20px;
}
.butt-edge
{
  margin-left: 300px;
}
*{
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 750px)
{  
  .container
  {
      height: 300px;
      max-width: 100%;
  }
  .welcome
  {
      padding: 3rem;
  }
  h1
  {    
      font-size: 42px;    
  }
  h3
  {
    font-size: 30px;
  }
  h4
  {
    font-size: 25px;
  }
  p
  { 
      font-size: 30px;
  }
  .sub-con1, .sub-con2
  {
    width: 100%;
    font-size: 30px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    border: 2px solid gainsboro;
    padding: 7px;
  }
  .container-two 
  {
    max-width: 980px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  .container-three
  {
    max-width: 970px;
    margin-top: 60px;
    box-sizing: border-box;
    height: 350px;
    display: flex;
    flex-direction: column;
  }
  .stars
  {
    margin-bottom: 50px;
  }
  input
  {
    width: 95%;
    box-sizing: border-box;
    font-size: 20px;
    padding: 15px;
    margin-top: 20px;
  }
  button[type=submit]
  {
    width: 30%;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
  }
  #check-btn
  {
    margin-top: -60px;
  }
  #join-btn
  {
    width: 155px;
    margin-top: 20px;
  }
  button[name=ask]
  {
    height: 50px;
    width: 110px;
  }
  #img, #img1
  {
    width: 150px;
    height: 150px;
  }
  img-edge
  {
    padding: 0;
  }
  .butt-edge
  {
    margin-left: 0;
  }
  #img
  {
    margin-left: 150px;
  }
}
@media screen and (max-width: 480px)
{
  #img
  {
    margin-left: 80px;
  }

}
