.form-group {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
}
.form-group > input {
          border-color: rgb(32, 32, 212);
}
h2 {color:rgb(32, 32, 212);}


.form-control::placeholder {
          font-weight: bold;
}
.containers {
          padding: 5vh;
          background-color: white;
          height: auto;
          grid-row: 2/5;
          grid-column: 2/6;
}
body {
          background-image: url("../img/SIGN\ UP\ Background\ image.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center center;


}
.btn-primary {
          background-color: rgb(32, 32, 212);
          border-color: rgb(32, 32, 212);
          font-weight: bold;
}
.btn-primary:hover{
          background-color: white;
          color: rgb(32, 32, 212);
          border-color: rgb(32, 32, 212);
          font-weight: bold;

}
.major{
          display: grid;
          grid-template-rows: repeat(5, 1fr);
          grid-template-columns: repeat(6, 1fr);
          height: 100%;
}
.major a {
          text-decoration: underline;
          color: rgb(32, 32, 212);
          font-weight: bold;
}
span {
          font-size: 6vh;
          font-weight: bold;
}
a:hover {
          color: rgb(32, 32, 212);
}