div > p 
{
  font-family: serif;
  margin: 20px;
  line-height: 50px;
  font-size: 20px;
}
.waecpage1
{
    height: calc(100vh - 300px);
    background-image: url(/img/WP1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px; 
 
}
.text1
{
    width: 50%;
    margin: 7em 0 0 7em;
    padding-left: 200px;
    text-align: center;
    position: relative;
}
button{
    cursor: pointer;
  }
label
{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
h2
{
    font-weight: 300;
    margin-bottom: 30px;
}
h3
{
    font-size: 20px;
}
select
{
    background: #FFFFFF;
    border: 2px solid rgb(2, 2, 158);
    box-sizing: border-box;
    padding: 10px 20px;
    width: 500px;
}
button[type=submit]
{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;
    background: rgb(2, 2, 158);
    border-radius: 10px;
    border: 1px solid rgb(2, 2, 158);
    width: 150px;
    margin: 20px 50px;
}

@media screen and (max-width: 1024px)
{
    .waecpage1
    {
        height: 500px;
    }  
    .text1
    {
        max-width: 100%;
        margin: 15em 0px 0 5em;
        padding-left: 0px;
    }
    select
    {
        width: 260px;
        padding: 6px 4px;
    }
    button
    {
        line-height: 30px;
    }
}
