div > p
{
  font-family: serif;
  margin: 20px;
  line-height: 20px;
  font-size: 20px;
}
.waecpage2
{
    background-color: gainsboro;
    margin-top: 15px;
}
button{
    cursor: pointer;
  }
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.subcom
{
    width: 25%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    height: 200px;
    margin-top: 70px;
    line-height: 20px;
}
li, a
{
    line-height: 35px;
}
h3
{
    font-size: 25px;
}
.unis
{
    width: 35%;
    background-color: #ffffff;
    border-radius: 25px;
    height: 300px;
    padding: 20px;
    margin-top: 70px;
}
.univ
{
    text-align: center;
    margin-bottom: 20px;
}
.contain
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 1024px)
{
    .subcom
    {
        width: 70%;
        margin-top: 20px;
        height: 220px;
        text-align: center;
    }
    p
    {
        font-size: 15px;
    }
    .unis
    {
        width: 70%;
        margin-top: 50px;
        height: 300px;
    }
    .uni{
        margin: auto;
        font-size:15px ;
    }
    .waecpage2
    {
        height: 700px;
    }
    .container
    {
        margin-bottom: 75%;
    }
    h3
    {
        font-size: 20px;
    }
   h4
   {
     font-size: 30px;
   }   
 
}
@media screen and (max-width: 480px)
{
    
    .contain
    {
        margin: 4px;
        font-size: 12.5px;
        display: flex;
        justify-content: space-between;
    }
    }