*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
.waecpage2{
    line-height: 40px;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}
.subject-combo
{
    width: 20%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    height: fit-content;
    margin-top: 40px;
}
.unis
{
    width: 20%;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: justify;
    padding: 20px;
    margin-top: 40px;
}
.universities
{
    text-align: center;
}
.contain
{
    margin: 20px;
}

@media screen and (max-width: 1024px)
{
    .subject-combo
    {
        width: 100%;
    }
    .unis
    {
        width: 100%;
    }
    .container
    {
        padding: 15px;
    }
    .contain
    {
        font-size: 15px; margin: 4px;
    }        
 
}