*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    margin: auto;
    margin-bottom: -0.8rem;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
}
.heading{
    display: flex;
   
}
.head a{
    margin-left: 3rem;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.head a:hover{
    text-decoration: underline blue;
    color: blue;
}
.logo{
    background-image: url(jambito.png);
    height: 60px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;  
}
button{
    padding: 0.7rem;
    width: 7rem;
    margin-top: -12px;
    background-color: blue;
    border: blue;
    color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.container1{
    padding: 5rem 0 10rem 0;
    background-color: blue;
    display: flex;
    flex-direction: column;
}
.resource{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 2rem;
}
.flex{
    display: flex;
    flex-direction: row;

}
input{
    width: 65%;
    padding: 1rem;
    margin: auto;
    border-radius: 30px;
    border: white;
}
input::placeholder{
    font-size: 18px;
}
#icon{
    position: absolute;
    padding: 14px;
    right:16rem ;
}
.container2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    background-color: hsl(208, 18%, 86%);
}
.step p, .book p{
    color: black;
    font-size: 18px;
    margin-bottom: 6rem;
    text-align: center;
}
.step h1{
    font-size: 25px;
    text-align: center;
    padding: 3rem 0 2rem 0;
}
.book h1{
    font-size: 25px;
    text-align: center;
    padding: 4rem 0 3rem 0;
}
.step, .book{
    width: 20%;
    box-sizing: border-box;
    border-radius: 30px;
    border: white;
    color: black;
    background-color: white;
    padding: 1rem;
    position: relative;
    z-index: 10;
    top: -6rem;
    display: flex;
    flex-direction: column;
    
}
.start{
    padding: 0.5rem;
    width: 8rem;
    margin: auto;
    margin-bottom: 1.5rem;
    color: white;
    background-color: blue;
    border: blue;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.start:hover{
    background-color: rgb(107, 107, 248);
}
@media screen and (max-width:600px){
    #icon{
        right: auto;
        margin-right: -3rem;
    }
}
@media screen and (max-width:1200px){
.step, .book{
    width: 25%;

}
#icon{
    right: 12rem;
}
}

@media screen and (max-width:770px){
header{
    padding: 1rem 1rem 0 1rem;
}
.head a{
    margin-left: 10px;
    font-size: 16px;
}
button{
    width: 4rem;
    padding: 0.5rem;
    font-size: 14px;
}
.logo{
    height: 50px;
    width: 50px;
}
input{
    width: 80%;
}
#icon{
    right: 6rem;
}
.step, .book{
    width: 80%;
    margin-bottom: 2rem;

}


}