body
{
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(22, 22, 22, 0.1);
}
header
{
  display: flex;
  margin: auto;
  margin-bottom: -0.8rem;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
}
.heading
{
  display: flex; 
}
.head a
{
  margin-left: 3rem;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.head a:hover
{
  text-decoration: underline rgb(2, 2, 158);
  color: rgb(2, 2, 158);
}
.logo
{
  background-image: url(jambito.png);
  height: 80px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;  
}
#button
{
  padding: 10px;
  width: 7rem;
  height: 50px;
  margin-top: -12px;
  background-color: rgb(2, 2, 158);
  border: none;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
}
div > p 
{
  font-family: serif;
  margin: 20px;
  line-height: 50px;
  font-size: 20px;
}
h3
{
  font-size: 40px;
}
.field 
{
  width: 70%;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}
.file-field 
{
  
  height: 250px;
  width: 200px;
  border: 4px dashed black;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  box-sizing:border-box;
  background-attachment: none;
}
.text-field 
{
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
.input-text  
{
  width: 300px;
  height: 120px;
  padding: 100px;
  background-color: rgba(40, 30, 220, 0.2);
  box-sizing:border-box;
  margin-top: 50px;
  border-radius: 4px;
}
.button 
{
  margin: 20px;
  height: 40px;
  width: 150px;
  color: white;
  background-color: rgb(2, 2, 158);
  font-size: 20px;
  font-family: Helvetica;
  border-radius: 10px;
  text-align: center;
  border: none;
}

footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    color: white;
    background-color: rgb(2, 2, 158);
    font-family: Arial, Helvetica, sans-serif;
  }
  .icons
  {
    font-size: 220%;
  }
@media screen and (max-width: 1024px) 
{
  body 
  {
    font-size: 45px;
  }
  .field 
  {
    width: 100%;
    margin-bottom: 100px;
  }
  .file-field 
  {
    height: 400px;
    width: 400px;
  border: 8px dashed black;
  margin-bottom: 60px;
  margin-top: 70px;
  }  
  .text-field  
  {
    margin-top: 80px;
  }
  .input-text 
  {
  width: 80%;
  height: 400px;
  font-size: 40px;
  border-width: 5px;
  border-color: black;
  margin-top: 100px;
  }
  .button 
  {
  margin: 70px;
  height: 60px;
  width: 200px;
  font-size: 30px;
  }
  header
  {
    max-width: 940px;
    font-size: 25px;
    padding: 20px;
  }
  .head a
  {
      margin-left: 10px;
      font-size: 16px;
  }
  #button
  {
      width: 4rem;
      padding: 0.5rem;
      font-size: 14px;
      height: 40px;
  }
  .logo
  {
      height: 50px;
      width: 50px;
  }  
  footer
  {
      font-size: 30px;
      line-height: 30px;
      max-width: 775px;
      text-align: center;
  }
  .ql, .serv, .fflw
  {
    margin-bottom: 20px;
    width: 100%;
  }
}

