body 
{
  background-color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
*
{
  margin: 0;
  padding: 0;
}
header
{
  display: flex;
  margin: auto;
  margin-bottom: -0.8rem;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
}
.heading
{
  display: flex; 
}
.head a
{
  margin-left: 3rem;
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}
.head a:hover
{
  text-decoration: underline blue;
  color: blue;
}
.logo
{
  background-image: url(jambito.png);
  height: 80px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;  
}
#button
{
  padding: 10px;
  width: 7rem;
  height: 50px;
  margin-top: -12px;
  background-color: white;
  border: 2px solid rgb(2, 2, 158);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border-radius: 0;
  color: rgb(2, 2, 158);
  cursor: pointer;
}
.container
{
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
  margin-top: 0;
}
.welcome
{
  padding: 5rem;
  font-family: 'Montaga', sans-serif;
  color: white;
}
h1
{    
  font-size: 70px;    
}
h2
{
  margin-top: 20px;
}
p
{ 
  font-size: 30px;
}
.container-one 
{
  text-align: center;
  background-color: rgba(222, 222, 222, 0.3);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  margin-top: 50px;
}
.container-two 
{
  margin-bottom: 60px;
  background-color: rgba(222, 222, 222, 0.3);
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-top: 70px;
  padding: 10px;
}
.sub-con1 
{
  background-color: white;
  height: 550px;
  width: 50%;
  border-radius: 50px;
}
.sub-con2 
{
  background-color: white;
  height: 550px;
  width: 50%;
  margin-left: 300px;
  border-radius: 50px;
}
.container-three 
{
  height: 300px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
input
{
  width: 400px;
  box-sizing: border-box;
  padding: 20px;
  border: 2px solid blue;
}
h3
{
  font-size: 40px;
}
div > p 
{
  font-family: serif;
  margin: 20px;
  line-height: 50px;
  font-size: 20px;
}

.stars{
  width: 300px;
  display: inline-block;
  justify-items: left;
  font-size: 20px;
}
h5
{
  font-size: 20px;
  margin-left: 35px;
  margin-top: 60px;
}
.stars h3{
  margin-left: 35px;
}
input.star{
  display: none;
}
label.star{
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all 0.2s;
}
input.star:checked ~ label.star:before{
  content: '\f005';
  color: #fd4;
  transition: all 0.2s;
}
input.star-5:checked ~ label.star:before{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
label.star:before{
  content: '\f006';
  font-family: FontAwesome;   
}
input.star-1:checked ~ label.star:before{
  color: rgb(236, 42, 8);
} 
input.star-2:checked ~ label.star:before{
  color: #f62;
}
h4
{
  font-size: 35px;
}
button 
{ 
  width: 200px;
  height: 70px;
  font-size: 30px;
  font-family: monospace;
  border: none;
  margin: 30px;
  padding: 20px;
  text-align: center;
  background-color: rgb(2, 2, 158);
  color: white;
  border-radius: 10px;
}
#img 
{
  height: 200px;
  width: 200px;
  margin: 20px;
}
#img1
{
  width: 300px; 
  height: 300px; 
  padding: 20px;
}
.butt-edge
{
  margin-left: 300px;
}
*{
  margin: 0;
  padding: 0;
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px;
  color: white;
  background-color: rgb(2, 2, 158);
  font-family: Arial, Helvetica, sans-serif;
}
.icons
{
  font-size: 220%;
}
@media only screen and (max-width: 1024px)
{  
  body
  {
    box-sizing: border-box;
  }
  header
  {
    max-width: 940px;
    font-size: 25px;
    padding: 20px;
  }
  .head a
  {
      margin-left: 10px;
      font-size: 16px;
  }
  #button
  {
      width: 4rem;
      padding: 0.5rem;
      font-size: 14px;
      height: 40px;
  }
  .logo
  {
      height: 50px;
      width: 50px;
  }
  .container
  {
      height: 300px;
      max-width: 100%;
  }
  button[name=ask]
  {
    height: 80px;
    width: 150px;
  }
  .welcome
  {
      padding: 3rem;
      font-family: 'Montaga', sans-serif;
  }
  h1
  {    
      font-size: 42px;    
  }
  h4
  {
    font-size: 25px;
  }
  p
  { 
      font-size: 30px;
  }
  .container-one
  {
    max-width: 980px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 20px;
  }
  .sub-con1 
  {
    height: 570px;
    width: 100%;
    font-size: 30px;
    margin: 0;
    box-sizing: border-box;
  } 
  .sub-con2 
  {
    width: 100%;
    height: 600px;
    margin-top: 50px;
    margin-left: 0;
    box-sizing: border-box;
  }  
  .submit-butt
  {
    margin-bottom: 50px;
  }
  .submit-but
  {
    margin-bottom: 30px;
  }
  .head a 
  {
    font-size: 15px;
  }
  h3
  {
    font-size: 30px;
  }
  .container-two 
  {
    max-width: 980px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  .container-three
  {
    max-width: 970px;
    margin-top: 60px;
    box-sizing: border-box;
    height: 350px;
    display: flex;
    flex-direction: column;
  }
  .stars
  {
    margin-left: 10px;
  }
  input
  {
    width: 95%;
    box-sizing: border-box;
    border: 1px solid gray;
    font-size: 20px;
    padding: 15px;
    margin-top: 20px;
  }
  #img, #img1
  {
    width: 200px;
    height: 200px;
  }
  button
  {
    width: 38%;
    height: 70px;
    border-radius: 10px;
    font-size: 20px;
  }
  .img-edge
  {
    padding: 0;
  }
  .butt-edge
  {
    margin-left: 0;
  }
  footer
  {
      font-size: 30px;
      line-height: 20px;
      max-width: 775px;
  }
  .ql, .serv, .fflw
  {
    margin-bottom: 20px;
    width: 100%;
  }
  .icons
  {
    margin-top: 15px;
  }
}
