*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url(WP1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
}
header
{
  display: flex;
  margin: auto;
  margin-bottom: -0.8rem;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
  background-color: white;
}
.heading
{
  display: flex; 
}
.head a
{
  margin-left: 3rem;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.head a:hover
{
  text-decoration: underline rgb(2, 2, 158);
  color: rgb(2, 2, 158);
}
.logo
{
  background-image: url("jambito.png");
  height: 80px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;  
}
#button
{
  padding: 10px;
  width: 7rem;
  height: 50px;
  margin-top: -12px;
  background-color: white;
  border: 2px solid rgb(2, 2, 158);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  border-radius: 0;
  color: rgb(2, 2, 158);
  cursor: pointer;
}
div > p 
{
  font-family: serif;
  margin: 20px;
  line-height: 50px;
  font-size: 20px;
}
h3
{
  font-size: 40px;
}
.text1
{
    width: 50%;
    margin: 330px 300px 0px 300px;
    padding-left: 200px;
}
label
{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
select
{
    background: #FFFFFF;
    border: 2px solid rgb(2, 2, 158);
    box-sizing: border-box;
    padding: 10px 20px;
    width: 500px;
}
button
{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;
    background: rgb(2, 2, 158);
    border-radius: 10px;
    border: 1px solid rgb(2, 2, 158);
    width: 150px;
    margin: 20px 50px;
}
footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    color: white;
    background-color: rgb(2, 2, 158);
    font-family: Arial, Helvetica, sans-serif;
  }
  .icons
  {
    font-size: 220%;
  }

@media screen and (max-width: 1024px)
{
    body
    {
        background-size: 100%;
        line-height: 30px;
    }
    .text1
    {
        width: 100%;
        margin: 120px 0px 0px 25px;
        padding-left: 0px;
    }
    select
    {
        width: 260px;
        padding: 6px 4px;
    }
    button
    {
        line-height: 30px;
    }
     
  header
  {
    max-width: 940px;
    font-size: 25px;
    padding: 20px;
  }
  .head a
  {
      margin-left: 10px;
      font-size: 16px;
  }
  #button
  {
      width: 4rem;
      padding: 0.5rem;
      font-size: 14px;
      height: 40px;
  }
  .logo
  {
      height: 50px;
      width: 50px;
  }
  
  footer
  {
      font-size: 30px;
      line-height: 30px;
      max-width: 775px;
      text-align: center;
  }
  .ql, .serv, .fflw
  {
    margin-bottom: 20px;
    width: 100%;
  }
  .waecpage1
  {
      text-align: center;
  }
}
