header
{
  display: flex;
  margin: auto;
  margin-bottom: -0.8rem;
  justify-content: space-between;
  padding: 2rem 2rem 0 2rem;
}
.heading
{
  display: flex; 
}
.head a
{
  margin-left: 3rem;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.head a:hover
{
  text-decoration: underline blue;
  color: blue;
}
.logo
{
  background-image: url(jambito.png);
  height: 80px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;  
}
#button
{
  padding: 10px;
  width: 7rem;
  height: 50px;
  margin-top: -12px;
  background-color: rgb(2, 2, 158);
  border: none;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
div > p 
{
  font-family: serif;
  margin: 20px;
  line-height: 50px;
  font-size: 20px;
}
h3
{
  font-size: 40px;
}
*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
}
.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.subcom
{
    width: 20%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    height: fit-content;
    margin-top: 40px;
}
.unis
{
    width: 35%;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: justify;
    padding: 20px;
    margin-top: 40px;
}
.univ
{
    text-align: center;
}
.contain
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}
footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    color: white;
    background-color: rgb(2, 2, 158);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
  }
  .icons
  {
    font-size: 220%;
  }

@media screen and (max-width: 1024px)
{
    .subcom
    {
        width: 100%;
    }
    .unis
    {
        width: 100%;
    }
    .container
    {
        padding: 15px;
    }
    .contain
    {
        font-size: 11px; margin: 4px;
    }        
      header
      {
        max-width: 940px;
        font-size: 25px;
        padding: 20px;
      }
      .head a
      {
          margin-left: 10px;
          font-size: 16px;
      }
      #button
      {
          width: 4rem;
          padding: 0.5rem;
          font-size: 14px;
          height: 40px;
      }
      .logo
      {
          height: 50px;
          width: 50px;
      }
      
  footer
  {
      font-size: 30px;
      line-height: 30px;
      max-width: 775px;
      text-align: center;
  }
  .ql, .serv, .fflw
  {
    margin-bottom: 20px;
    width: 100%;
  }
}