*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    line-height: 40px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.subcom{
    width: 20%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    height: fit-content;
    margin-top: 40px;
}
.unis{
    width: 22%;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: justify;
    padding: 20px;
    margin-top: 40px;
}
.univ{
    text-align: center;
}
.contain{
    margin: 20px;
}

@media screen and (max-width: 1000px){
    .subcom{width: 100%;}
    .unis{width: 100%;}
    .container{padding: 15px; font-size: 12px;}
}
